main .highlights .expertise {
    display: flex;
    flex-direction: row;
    background: #0e1111;
    border: 5px solid grey;
    padding: 20px; 
    border-radius: 10px;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.highlgihts .expertise div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b444b;
    border: 1px solid white;
    width: 200px;
    height: 100px;
    border-radius: 30px;
}

.highlgihts .expertise div:hover {
    transform: scale(1.2);
    opacity: 0.8; 
}

.highlgihts .expertise div h2 {
    text-align: center;
}

.highlgihts .expertise div a {
    text-decoration: none;
}

.highlgihts .expertise div a:focus, 
.highlgihts .expertise div a:active {
    outline: none; 
}