main .projects {
    background-color: #414a4c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.projects h2 {
    text-align: center;
}

.projects .projectBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects .projectBoxes .projectBox {
    width: 200px;
    height: 100px;
    background-color: #0e1111;
    border-radius: 5px;
    border: 5px solid #3b444b;
    margin-bottom: 20px;
}