html, body {
    height: 100%;  
    margin: 0;     
    color: white;
    font-family: Arial;
}

header {
    position: fixed; /* Position the header to always be at the top */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: #353839;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10px;
}

header .navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.navbar a {
    display: flex; 
    flex-wrap: wrap;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: #ffcc00; 
}

main {
    position: fixed; 
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

main > div {
    box-sizing: border-box;
}

.aboutMe .picture {
    display: flex;
    flex-direction: column;
    background-color:#0e1111;
    height: 100vh;
    width: 40vw;
    min-width: 300px;
}

@keyframes appearButton {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%; 
    }
    
}

.aboutMe .picture .resume button {
    margin-top: 40px;
    display: block;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3b444b; 
    color: white; 
    font-size: 16px;
    font-weight: bold;
    border: none; 
    cursor: pointer; 
    animation: appearButton 2.5s;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.aboutMe .picture .resume button:hover {
    transform: scale(1.2);
    opacity: 0.8;
    background-color: #3b444b; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: #fff; 
}

.picture img {
    margin-top: 50px;
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid;
    border-color:#efe9e2;
}

.picture .pictureText {
    text-align: center;
    transform: translateY(100%); 
    opacity: 0; 
    animation: slideInPictureText 1s ease-out forwards; 
}

@keyframes slideInPictureText {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%); 
        opacity: 1;
    }
}

.information {
    margin-top: 20px;
    display: flex; 
    justify-content: center;
    gap: 20px; 
}

.information img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid;
    border-color: white;
}

.information img:hover {
    opacity:1.0;
}

.aboutMe .middlebar hr {
    width: 100%;
    color: white
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

main .aboutMe .middlebar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: #3b444b;
    height: 100vh;
    width: 80vw;
    background-size: cover;
    background-position: center;
    animation: appear 1s forwards;
}

.aboutMe .middlebar h2 {
    margin-left: 20px;
    align-self: center;
}

.aboutMe .middlebar .technologies {
    width: 100%;
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
}

.aboutMe .middlebar .technologies div {
    display: flex;              
    align-items: center;       
    margin-bottom: 8px;         
}

.aboutMe .middlebar .technologies p {
    margin-top: 1px; 
    width: 30%;
    display: inline-block;
}

.aboutMe .middlebar .technologies img {
    margin-top: -10px;
    margin-left: 20px; 
    width: 40px; 
    height: 40px;
    display: inline-block;
    border: 3px solid grey;
    border-radius: 5px;
    filter: contrast(150%);
    background-color: white;
    padding: 3px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.aboutMe .middlebar .technologies img {
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.aboutMe .middlebar .technologies img:hover {
    transform: scale(1.2);
    opacity: 0.8; 
}

.aboutMe .middlebar .technologies p {
    transition: color 0.3s ease-in-out;
}

.aboutMe .middlebar .technologies div:hover p {
    color: #ffcc00; 
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip::after {
    content: attr(data-alt); 
    position: absolute;
    top: -35px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.highlight {
    color: #ffcc00; 
}

@keyframes slideIn {
    0% {
        transform: translateX(100%); 
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

main .thirdbar {
    display: flex;
    flex-direction: column;
    background: #0e1111;
    width: 30vw;
    align-items: center;
    justify-content: space-evenly;
}

main .thirdbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    background: #3b444b;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    animation: slideIn 1s;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

main .thirdbar div:hover {
    transform: scale(1.2);
    opacity: 0.8; 
}

main .thirdbar div h2 {
    text-align: center;
}

main .thirdbar div a {
    text-decoration: none;
}

main .thirdbar div a:focus, 
main .thirdbar div a:active {
    outline: none; 
}



