.picture img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border-radius: 50%;
    border: 5px solid;
    border-color: black;
}

.picture h2, p {
    margin-left: 100px;
    text-align: center;
}