main .technicalKnowledge {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#414a4c; 
}

.technicalBox {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    width: 50%;
    animation: appear 1s forwards;
    background-color: #232b2b;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.technicalBox .technicalText h2 {
    margin-left: 20px;
    align-self: center;
}

.technicalBox .technologies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid #3b444b;
    padding-top: 20px;
    border-radius: 10px;
}

.technicalBox .technologies div {
    width: 100%;
    display: flex;              
    align-items: center;   
    flex-direction: row;    
    margin-bottom: 8px;
    gap: 20px;     
}

/*Adjust the the div of the image*/
.technicalBox .technologies .technologiesImage div {
    width: 40px;
    height: 40px;
}

.technicalBox .technologies p {
    margin-top: 1px; 
    width: 30%;
    margin-left: 20px;
    display: inline-block;
}

.technicalBox .technologies .technologiesImage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.technicalBox .technologies img {
    margin-top: -10px;
    margin-left: 20px; 
    width: 40px; 
    height: 40px;
    display: inline-block;
    border: 3px solid grey;
    border-radius: 5px;
    filter: contrast(150%);
    background-color: white;
    padding: 3px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.technicalBox .technologies img {
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.technicalBox .technologies img:hover {
    transform: scale(1.2);
    opacity: 0.8; 
}

.technicalBox .technologies p {
    transition: color 0.3s ease-in-out;
}

.technicalBox .technologies div:hover p {
    color: #ffcc00; 
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip::after {
    content: attr(data-alt); 
    position: absolute;
    top: -35px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.highlight {
    color: #ffcc00; 
}
