main .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
    background-color: #88CFF1;
    margin-bottom: 0;
}

.contact .contactInformation {  
    width: 100%;
    height: 60%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #F4F1DE;
    color:#0e1111
}

.contact .contactInformation .phone,
.contact .contactInformation .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact .contactInformation .contactImage img {
    max-width: 40px;
    max-height: 40px;
}

@media (max-width: 800px) {
    main .contact {
        margin-bottom: -40;
    }

    .phone, 
    .email {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 3vw;
    }
}