main .technicalKnowledge {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88CFF1; 
    color: #0e1111;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.technicalBox {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    width: 40%;
    animation: appear 1s forwards;
    background-color: #F3C2C2;
    animation: appear 1s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    transition: transform 1s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.technicalBox .technicalText h2 {
    margin-left: 20px;
    align-self: center;
}

.technicalBox .technologies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    border: 5px solid #0e1111;
    border-radius: 10px;
}

.technicalBox .technologies > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

.technologiesText {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    width: 30%;
    max-width: 50%;
}

.technologiesImage {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.technicalBox .technologies .technologiesImage img {
    width: 40px; 
    height: 40px;
    border: 3px solid grey;
    border-radius: 5px;
    filter: contrast(150%);
    background-color: white;
    padding: 3px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.technicalBox .technologies img {
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.technicalBox .technologies img:hover {
    transform: scale(1.2);
    opacity: 0.8; 
}

.technicalBox .technologies p {
    transition: color 0.3s ease-in-out;
}

.technicalBox .technologies div:hover p {
    color: #87A299; 
}

.tooltip::after {
    content: attr(data-alt); 
    position: absolute;
    top: -35px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 800px) {
    .technicalBox {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .technologies {
        width: 100%;
        gap: 1px;
    }

    .technicalBox .technologies > div {
        width: 100%;
        display: flex;              
        align-items: center;   
        flex-direction: column; 
        gap: 1px;      
    }

    .technologiesText {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}