<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Data Engineer - Hoang Minh Triet</title>
</head>
<body>
    <section>
        <h2>About me</h2>
    </section>
    <section>
        <h2>Experiences</h2>
    </section>
    <section>
        <h2>Project</h2>
    </section>
    <section>
        <h2>Contact</h2>
    </section>
    <div class="picture">
        <img src="{{ url_for('static', filename='imgs/personal_image.jpg') }}" alt="personalImage">
        <h2>Hoang Minh Triet</h2><p>Data Engineer</p>
    </div>
</body>
</html>