<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Data Engineer - Hoang Minh Triet</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="">About</a>
            <a href="">Projects</a>
            <a href="">Contact</a>
        </nav>
    </header>
    <main>
        <div class="picture">
            <img src="{{ url_for('static', filename='imgs/personal_image.jpg') }}" alt="personalImage">
            <div class="information">
                <a href="https://www.facebook.com/minhtriet05042003/" target="_blank">
                    <img class="facebook" src="{{ url_for('static', filename='imgs/facebook.jpg') }}" alt="facebook">
                </a>
                <a href="https://www.linkedin.com/in/minchit0504/" target="_blank">
                    <img class="linkedin" src="{{ url_for('static', filename='imgs/linkedin-logo.png') }}" alt="linkedin">
                </a>
                <a href="https://www.github.com/MinnTrit" target="_blank">
                    <img class="github" src="{{ url_for('static', filename='imgs/github.png') }}" alt="github">
                </a>
            </div>
            <div class="pictureText">
                <h2>Hoang Minh Triet</h2>
                <h4>Data Analyst</h4>
                <p>A <em>Junior Data Analyst</em>, specalized in E-commerce industry, with 1 year of hands-on experiences in both Analytics and Engineering to work with various internal and external stakeholders within the outsource environment.</p>
            </div>
        </div>
        <div class="rightbar">
            <h2>My stack and technologies</h2>
            <div class="technologies">
                <div>
                    <p>Programming Languages</p>
                    <img src="{{ url_for('static', filename='imgs/python.png') }}" alt="python">
                    <img src="{{ url_for('static', filename='imgs/java.png') }}" alt="java">
                </div>
                <div>
                    <p>Databases</p>
                    <img src="{{ url_for('static', filename='imgs/mysql.png') }}" alt="mysql">
                    <img src="{{ url_for('static', filename='imgs/sql-server.png') }}" alt="sql-server">
                    <img src="{{ url_for('static', filename='imgs/oracle.png') }}" alt="oracle">
                    <img src="{{ url_for('static', filename='imgs/mongodb.png') }}" alt="mongodb">
                    <img src="{{ url_for('static', filename='imgs/postgresql.png') }}" alt="postgresql">
                </div>
                <div>
                    <p>Back-End</p>
                    <img src="{{ url_for('static', filename='imgs/redis.png') }}" alt="redis">
                    <img src="{{ url_for('static', filename='imgs/django.png') }}" alt="django">
                    <img src="{{ url_for('static', filename='imgs/flask.png') }}" alt="flask">
                    <img src="{{ url_for('static', filename='imgs/celery.png') }}" alt="celery">
                    <img src="{{ url_for('static', filename='imgs/fastapi.png') }}" alt="fastapi">
                </div>
                <div>
                    <p>Big Data</p>
                    <img src="{{ url_for('static', filename='imgs/databricks.png') }}" alt="databricks">
                    <img src="{{ url_for('static', filename='imgs/spark.png') }}" alt="spark">
                    <img src="{{ url_for('static', filename='imgs/kafka.png') }}" alt="kafka">
                    <img src="{{ url_for('static', filename='imgs/hadoop.png') }}" alt="hadoop">
                </div>
                <div>
                    <p>Event Streaming</p>
                    <img src="{{ url_for('static', filename='imgs/kafka.png') }}" alt="kafka">
                </div>
                <div>
                    <p>Jobs Scheduler</p>
                    <img src="{{ url_for('static', filename='imgs/celery.png') }}" alt="celery">
                    <img src="{{ url_for('static', filename='imgs/redbeatscheduler.png') }}" alt="redbeatscheduler">
                    <img src="{{ url_for('static', filename='imgs/cronjobs.png') }}" alt="cronjobs">
                </div>
                <div>
                    <p>Cloud & DevOps</p>
                    <img src="{{ url_for('static', filename='imgs/oracle.png') }}" alt="oracle">
                    <img src="{{ url_for('static', filename='imgs/jenkins.png') }}" alt="jenkins">
                    <img src="{{ url_for('static', filename='imgs/github.png') }}" alt="github">
                    <img src="{{ url_for('static', filename='imgs/sonarqube.png') }}" alt="sonarqube">
                    <img src="{{ url_for('static', filename='imgs/kubernetes.png') }}" alt="kubernetes">
                </div>
                <div>
                    <p>Business Intelligences</p>
                    <img src="{{ url_for('static', filename='imgs/powerbi.png') }}" alt="powerbi">
                </div>
                <div>
                    <p>Operating System</p>
                    <img src="" alt="">
                </div>
                <div>
                    <p>Spreadsheet</p>
                    <img src="" alt="">                  
                </div>
            </div>
        </div>
    </main>
</body>
</html>