<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Data Engineer - Hoang Minh Triet</title>
</head>
<body>
    <div class="sections">
        <section class="aboutMe">
            <h2>About me</h2>
        </section>
        <section class="experiences">
            <h2>Experiences</h2>
        </section>
        <section class="projects">
            <h2>Project</h2>
        </section>
        <section class="contact">
            <h2>Contact</h2>
        </section>
    </div>
    <div class="picture">
        <img src="{{ url_for('static', filename='imgs/personal_image.jpg') }}" alt="personalImage">
        <h2>Hoang Minh Triet</h2>
        <p>Data Engineer</p>
        <h3>A junior Data Analyst, specalized in E-commerce industry, with 1 year of hands-on experiences in both Analytics and Engineering to work with various internal and external stakeholders within the outsource environment.</h3>
    </div>
</body>
</html>